@charset "UTF-8";
@font-face {
  font-family: 'DigitalRegular';
  src: url("assets/fonts/DigitalRegular.eot");
  src: url("assets/fonts/DigitalRegular.eot") format("embedded-opentype"), url("assets/fonts/DigitalRegular.woff2") format("woff2"), url("assets/fonts/DigitalRegular.woff") format("woff"), url("assets/fonts/DigitalRegular.ttf") format("truetype"), url("assets/fonts/DigitalRegular.svg#DigitalRegular") format("svg"); }

@font-face {
  font-family: 'ADVANCEDPIXELLCD7';
  src: url("assets/fonts/ADVANCEDPIXELLCD7.eot");
  src: url("assets/fonts/ADVANCEDPIXELLCD7.eot") format("embedded-opentype"), url("assets/fonts/ADVANCEDPIXELLCD7.woff2") format("woff2"), url("assets/fonts/ADVANCEDPIXELLCD7.woff") format("woff"), url("assets/fonts/ADVANCEDPIXELLCD7.ttf") format("truetype"), url("assets/fonts/ADVANCEDPIXELLCD7.svg#ADVANCEDPIXELLCD7") format("svg"); }

@font-face {
  font-family: 'DIGITALCOUNTER7';
  src: url("assets/fonts/DIGITALCOUNTER7.eot");
  src: url("assets/fonts/DIGITALCOUNTER7.eot") format("embedded-opentype"), url("assets/fonts/DIGITALCOUNTER7.woff2") format("woff2"), url("assets/fonts/DIGITALCOUNTER7.woff") format("woff"), url("assets/fonts/DIGITALCOUNTER7.ttf") format("truetype"), url("assets/fonts/DIGITALCOUNTER7.svg#DIGITALCOUNTER7") format("svg"); }

@font-face {
  font-family: 'DIGITALCOUNTER7ITALIC';
  src: url("assets/fonts/DIGITALCOUNTER7ITALIC.eot");
  src: url("assets/fonts/DIGITALCOUNTER7ITALIC.eot") format("embedded-opentype"), url("assets/fonts/DIGITALCOUNTER7ITALIC.woff2") format("woff2"), url("assets/fonts/DIGITALCOUNTER7ITALIC.woff") format("woff"), url("assets/fonts/DIGITALCOUNTER7ITALIC.ttf") format("truetype"), url("assets/fonts/DIGITALCOUNTER7ITALIC.svg#DIGITALCOUNTER7ITALIC") format("svg"); }

@font-face {
  font-family: 'DIGITALICG';
  src: url("fonts/DIGITALICG.eot");
  src: url("assets/fonts/DIGITALICG.eot") format("embedded-opentype"), url("assets/fonts/DIGITALICG.woff2") format("woff2"), url("assets/fonts/DIGITALICG.woff") format("woff"), url("assets/fonts/DIGITALICG.ttf") format("truetype"), url("assets/fonts/DIGITALICG.svg#DIGITALICG") format("svg"); }

@font-face {
  font-family: 'electronicanormal';
  src: url("assets/fonts/electronicanormal.eot");
  src: url("assets/fonts/electronicanormal.eot") format("embedded-opentype"), url("assets/fonts/electronicanormal.woff2") format("woff2"), url("assets/fonts/electronicanormal.woff") format("woff"), url("assets/fonts/electronicanormal.ttf") format("truetype"), url("assets/fonts/electronicanormal.svg#electronicanormal") format("svg"); }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
.calculator {
  position: relative;
  width: 640px;
  height: 676px;
  border: 1px solid #000;
  background: url("assets/img/calc_brush22.png");
  padding-top: 105px;
  border-radius: 30px; }
  .calculator .boot_block {
    display: none; }
  .calculator .boot_block.active {
    position: absolute;
    display: block;
    height: 62px;
    top: 124px;
    left: 58px;
    overflow: hidden;
    width: 0;
    white-space: nowrap;
    font-family: electronicanormal;
    font-size: 56px;
    text-transform: uppercase;
    -webkit-animation: typing 2.5s steps(18, end) forwards, hiding 0.5s 2.5s forwards;
            animation: typing 2.5s steps(18, end) forwards, hiding 0.5s 2.5s forwards; }

@-webkit-keyframes typing {
  0% {
    width: 0; }
  100% {
    width: 490px; } }

@keyframes typing {
  0% {
    width: 0; }
  100% {
    width: 490px; } }

@-webkit-keyframes hiding {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes hiding {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .calculator_screen {
    opacity: 0;
    margin: 0 0 38px 100px;
    width: 480px;
    height: 90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 66px;
    color: rgba(0, 0, 0, 0.75);
    font-family: 'electronicanormal';
    position: relative; }
    .calculator_screen.memory:before {
      content: 'M';
      position: absolute;
      top: 5px;
      left: -40px;
      font-size: 30px;
      font-weight: bold; }
    .calculator_screen.error:after {
      content: 'E';
      position: absolute;
      top: 45px;
      left: -40px;
      font-size: 32px;
      font-weight: bold; }
    .calculator_screen.error:before {
      content: '';
      position: absolute;
      left: 5px;
      top: 145px;
      width: 530px;
      height: 380px;
      z-index: 10; }
  .calculator_buttons {
    display: grid;
    width: 586px;
    height: 400px;
    margin-left: 28px;
    margin-top: 70px;
    grid-template-columns: 66px 66px 66px 66px 70px 66px 66px;
    grid-template-rows: 42px 62px 62px 62px 62px;
    gap: 19px 20px;
    grid-template-areas: "logo logo logo logo . . ." ". . . . . . ." ". . . . . . ." ". . . . plus . ." ". . . . plus . ."; }
  .calculator .logo {
    grid-area: logo; }
  .calculator .plus {
    grid-area: plus; }
  .calculator .logo {
    color: #fff;
    font-size: 34px;
    font-style: italic;
    font-family: DigitalRegular;
    opacity: 0.6; }
  .calculator .button {
    font-size: 0;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s; }
    .calculator .button:active {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2);
      -webkit-transform: translate(2px, 2px);
          -ms-transform: translate(2px, 2px);
              transform: translate(2px, 2px); }
    .calculator .button:nth-child(6), .calculator .button:nth-child(7n+6) {
      margin-left: 5px;
      margin-right: -5px; }
    .calculator .button:nth-child(n+26) {
      margin-top: -5px;
      margin-bottom: 3px; }
    .calculator .button:nth-child(7), .calculator .button:nth-child(7n+7) {
      margin-right: -5px; }
  .calculator .redo {
    background: url("assets/img/redo.png") no-repeat 50%/cover; }
  .calculator .plus {
    background: url("assets/img/plus.png") no-repeat 50%/contain;
    border-radius: 15px; }
  .calculator .result {
    background: url("assets/img/result.png") no-repeat 50%/contain; }
  .calculator .mu {
    background: url("assets/img/mu_faq.png") no-repeat 50%/cover; }
  .calculator .gt {
    background: url("assets/img/gt_pow.png") no-repeat 50%/cover; }
  .calculator .on {
    background: url("assets/img/on.png") no-repeat 50%/cover; }

@-webkit-keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 526px; } }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 526px; } }
  .calculator .percent {
    background: url("assets/img/percent.png") no-repeat 50%/cover; }
  .calculator .sqrt {
    background: url("assets/img/sqrt.png") no-repeat 50%/cover; }
  .calculator .mc {
    background: url("assets/img/mc.png") no-repeat 50%/cover; }
  .calculator .all_clear {
    background: url("assets/img/ac.png") no-repeat 50%/cover; }
  .calculator .mult {
    background: url("assets/img/multiply.png") no-repeat 50%/cover; }
  .calculator .mr {
    background: url("assets/img/mr.png") no-repeat 50%/cover; }
  .calculator .negative {
    background: url("assets/img/plus_minus.png") no-repeat 50%/cover; }
  .calculator .minus {
    background: url("assets/img/-.png") no-repeat 50%/cover; }
  .calculator .m_minus {
    background: url("assets/img/m-.png") no-repeat 50%/cover; }
  .calculator .m_plus {
    background: url("assets/img/m+.png") no-repeat 50%/cover; }
  .calculator .clear {
    background: url("assets/img/c.png") no-repeat 50%/cover; }
  .calculator .decimal {
    background: url("assets/img/point.png") no-repeat 50%/cover; }
  .calculator .result {
    background: url("assets/img/result.png") no-repeat 50%/cover; }
  .calculator .division {
    background: url("assets/img/delim.png") no-repeat 50%/cover; }
  .calculator .button:nth-child(6) {
    background: url("assets/img/7.png") no-repeat 50%/cover; }
  .calculator .button:nth-child(7) {
    background: url("assets/img/8.png") no-repeat 50%/cover; }
  .calculator .button:nth-child(8) {
    background: url("assets/img/9.png") no-repeat 50%/cover; }
  .calculator .button:nth-child(13) {
    background: url("assets/img/4.png") no-repeat 50%/cover; }
  .calculator .button:nth-child(14) {
    background: url("assets/img/5.png") no-repeat 50%/cover; }
  .calculator .button:nth-child(15) {
    background: url("assets/img/6.png") no-repeat 50%/cover; }
  .calculator .button:nth-child(20) {
    background: url("assets/img/1.png") no-repeat 50%/cover; }
  .calculator .button:nth-child(21) {
    background: url("assets/img/2.png") no-repeat 50%/cover; }
  .calculator .button:nth-child(22) {
    background: url("assets/img/3.png") no-repeat 50%/cover; }
  .calculator .button:nth-child(27) {
    background: url("assets/img/0.png") no-repeat 50%/cover; }
  .calculator .button:nth-child(28) {
    background: url("assets/img/00.png") no-repeat 50%/cover; }
  .calculator .button:nth-child(30) {
    margin: 0; }
